<?php
$reviews = $block->getCollectionReviews();
$layout = $block->getReviewsLayout();

?>

<div class='review-single col-md-12 summary'>
    <ul>
        <li class="total-summary-reviews">
            <div class="summary-wrap">
                <div class="ilosc-opini">
                    <span class="liczba"><?= $block->getCollectionReviesCount();?></span><br/><span class="opis"><?= __("opini klientów");?></span>
                </div>
                <div class="srednia-ocena">
                    <span class="liczba"><?= $block->getTotalAvgReview();?></span><br/><span class="opis"><?= __("średnia ocena");?></span>
                </div>
            </div>
        </li>
        <?php
        if ($latest = $block->getCollectionReviesLatest(3)) {
            foreach ($latest as $review) { ?>

                <li class="latest-review">

                    <div class="box-review-single">
                        <p class="image-review">
                            <?php $product = $block->getProductById($review['entity_pk_value']);
                            $url = $product->getProductUrl();
                            $name = $product->getName();
                            $image_url = $block->getImage($product);
                            ?>
                            <a href="<?= $url; ?>" title="<?= $name; ?>"><img src="<?= $image_url; ?>" alt="image"></a>
                        </p>
                        <p class="title-review">
                            <?php echo $review['title']; ?><br/>
                            <?php echo $review['nickname']; ?>
                            <?php echo ($block->displayDate()) ? '<br/>' . $review['created_at'] : ""; ?>
                        </p>

                        <div class="product-reviews-summary" itemprop="aggregateRating" itemscope=""
                             itemtype="http://schema.org/AggregateRating">
                            <?php
                            $ratingSummary = $block->getRatingSummary($product);
                            $ratingSummaryNumber = round($ratingSummary * 5 / 100, 2);
                            ?>
                            <div class="rating-summary">
                                <span class="label"><span>Ocena:</span></span>
                                <div class="rating-result" title="<?= $ratingSummary; ?>%">
                                    <span style="width:<?= $ratingSummary; ?>%">
                                        <span>
                                            <span itemprop="ratingValue"><?= $ratingSummary; ?></span>% of <span
                                                    itemprop="bestRating"><?= $ratingSummary; ?></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <p class="rating-summary-number"><?= $ratingSummaryNumber; ?></p>
                        </div>

                        <p class="detail-review">
                            <?php echo $review['detail']; ?>
                        </p>

                    </div>
                </li>

            <?php }
        }
        ?>
    </ul>
</div>

<?php  if ($block->getPagerHtml()): ?>
    <div class="review-single-paging order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php  endif ?>

<div class='review-single col-md-12 <?= $layout; ?>'>
    <ul>
        <?php foreach ($reviews as $review):
            // var_dump($review->getData());
            ?>

            <li>

                <div class="box-review-single">
                    <p class="image-review">
                        <?php $product = $block->getProductById($review['entity_pk_value']);
                        $url = $product->getProductUrl();
                        $name = $product->getName();
                        $image_url = $block->getImage($product);
                        ?>
                        <a class="product-image" href="<?= $url; ?>" title="<?= $name; ?>"><img src="<?= $image_url; ?>" alt="image"/></a>
                    </p>
                    <p class="title-review">
                        <?php echo $review['title']; ?><br/>
                        <?php echo $review['nickname']; ?>
                        <?php echo ($block->displayDate()) ? '<br/>' . $review['created_at'] : ""; ?>
                    </p>

                    <div class="product-reviews-summary">
                        <?php
                        $ratingSummary = $block->getRatingSummary($product);
                        $ratingSummaryNumber = round($ratingSummary * 5 / 100, 2);
                        ?>
                        <div class="rating-summary">
                            <span class="label"><span>Ocena:</span></span>
                            <div class="rating-result" title="<?= $ratingSummary; ?>%">
                                    <span style="width:<?= $ratingSummary; ?>%">
                                        <span>
                                            <span ><?= $ratingSummary; ?></span>% of <span><?= $ratingSummary; ?></span>
                                        </span>
                                    </span>
                            </div>
                        </div>
                        <p class="rating-summary-number"><?= $ratingSummaryNumber; ?></p>
                    </div>

                    <p class="detail-review">
                        <?php echo $review['detail']; ?>
                    </p>

                </div>
            </li>

        <?php endforeach; ?>
    </ul>

</div>


<?php  if ($block->getPagerHtml()): ?>
    <div class="review-single-paging order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php  endif ?>
