
.review-single.kolumny ul, .review-single.modern ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    list-style-type: none;
    padding-inline-start: 0px;
}


@media (min-width: 1px) and (max-width: 425px) {
    .review-single.kolumny ul, .review-single.modern ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        list-style-type: none;
        padding-inline-start: 0px;
    }
}

@media (min-width: 426px) and (max-width: 768px) { {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    padding-inline-start: 0px;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
    .review-single.kolumny ul, .review-single.modern ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        list-style-type: none;
        padding-inline-start: 0px;
    }
}

.review-single.kolumny .box-review-single, .review-single.modern .box-review-single, .review-single.summary .box-review-single {
    background-color: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 540px;
}

.review-single.kolumny li, .review-single.modern li, .review-single.summary li {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
}

.review-single.kolumny li {
    min-height: 520px;
}

.review-single.summary li {
    vertical-align: top;
}

.review-single.kolumny p.detail-review, .review-single.modern p.detail-review, .review-single.summary p.detail-review {
    line-height: 15px;
    margin-bottom: 20px;
}

.review-single.kolumny a, .review-single.modern a, .review-single.summary a {
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    font-family: "Open Sans", helvetica, arial, sans-serif;
}

.review-single.kolumny img, .review-single.modern img, .review-single.summary img {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #eee;
}


.review-single.kolumny ul:after, .review-single.modern ul:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.review-single.kolumny li, .review-single.modern li, .review-single.summary li {
    text-align: center;
    display: inline-block;
    padding-bottom: 20px;
    width: 260px;
}


/**
* TABELA
*/
.review-single.tabela {
    padding: 0px;
    margin: 0px;
}

.review-single.tabela ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.review-single.tabela li {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
}

.review-single.tabela .box-review-single, .review-single.summary .box-review-single {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    background: #eee;
    margin: 2px 0px;
}

.review-single.tabela .image-review {
    display: inline-block;
    -webkit-flex-basis: 10%;
    flex-basis: 10%;
    max-width: 10%;
    width: 10%;
    margin: 0px;
    padding: 10px;
}

.review-single.tabela .image-review img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
}

.review-single.tabela .title-review {
    display: inline-block;
    -webkit-flex-basis: 19%;
    flex-basis: 19%;
    max-width: 19%;
    width: 19%;
    vertical-align: middle;
}

.review-single.tabela .detail-review {
    display: inline-block;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
    vertical-align: middle;
    padding-right: 20px;
}

.review-single.tabela .product-reviews-summary {
    display: inline-block;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    max-width: 20%;
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 768px) {
    .review-single.tabela .image-review {
        display: inline-block;
        -webkit-flex-basis: 30%;
        flex-basis: 30%;
        max-width: 30%;
        width: 30%;
        margin: 0px;
        padding: 10px;
    }

    .review-single.tabela .title-review {
        display: inline-block;
        -webkit-flex-basis: 40%;
        flex-basis: 40%;
        max-width: 40%;
        width: 40%;
        vertical-align: middle;
    }

    .review-single.tabela .detail-review {
        display: inline-block;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.review-single.tabela .product-reviews-summary .rating-summary-number {
    font-size: 26px;
}

/**
* SUMMARY
 */
.review-single.summary {
    padding: 0px;
}

.review-single.summary ul {
    padding-inline-start: 0px;
}

.review-single.summary li.total-summary-reviews, .review-single.summary li.latest-review {
    display: inline-block;
    -webkit-flex-basis: 24%;
    flex-basis: 24%;
    max-width: 24%;
    width: 24%;
    vertical-align: middle;
    text-align: center;

}

.review-single.summary .summary-wrap {
    display: block;
    position: relative;
    min-height: 500px;
    max-height: 500px;
}

.review-single.summary .ilosc-opini {
    padding-top: 160px;
}

.review-single.summary span.liczba {
    font-size: 36px;
}

.review-single.summary .srednia-ocena {
    padding-top: 21px;
}
.review-single.summary .srednia-ocena span.liczba{
    color: #ffffff;
}

.review-single.summary li.total-summary-reviews {
    background: url("../images/reviews.svg");
    background-size: 100% 100%;
    background-position: center;
    min-height: 500px;
    background-repeat: no-repeat;
}
.reviews-all-index .order-products-toolbar {
    position: initial !important;
}

.review-single-paging .pages {
    width: 30%;
    display: inline-block;
}

.review-single-paging .limiter {
    width: 30%;
    display: inline-block;
    float: right;
}

@media (max-width: 768px) {
    .review-single.summary li.latest-review {
        display: none;
    }

    .review-single.summary li.total-summary-reviews {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
    }
}
