<?php if ($block->getData('last_reviews')): ?>
    <div class='review-single col-md-12 summary'>
        <ul>
                <li class="total-summary-reviews"> x </li>
            <?php
            if ($latest = $block->getCollectionReviesLatest($block->getData('last_reviews'))) {
                foreach ($latest as $review) { ?>

                    <li class="latest-review">

                        <div class="box-review-single">
                            <p class="image-review">
                                <?php $product = $block->getProductById($review['entity_pk_value']);
                                $url = $product->getProductUrl();
                                $name = $product->getName();
                                $image_url = $block->getImage($product);
                                ?>
                                <a href="<?= $url; ?>" title="<?= $name; ?>"><img src="<?= $image_url; ?>" alt="image"></a>
                            </p>
                            <p class="title-review">
                                <?php echo $review['title']; ?><br/>
                                <?php echo $review['nickname']; ?>
                                <?php echo ($block->displayDate()) ? '<br/>' . $review['created_at'] : ""; ?>
                            </p>

                            <div class="product-reviews-summary">
                                <?php
                                $ratingSummary = $block->getRatingSummary($product);
                                $ratingSummaryNumber = round($ratingSummary * 5 / 100, 1);
                                ?>
                                <div class="rating-summary">
                                    <span class="label"><span>Ocena:</span></span>
                                    <div class="rating-result" title="<?= $ratingSummary; ?>%">
                                    <span style="width:<?= $ratingSummary; ?>%">
                                        <span>
                                            <span ><?= $ratingSummary; ?></span>% of <span><?= $ratingSummary; ?></span>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                                <p class="rating-summary-number"><?= $ratingSummaryNumber; ?></p>
                            </div>

                            <p class="detail-review">
                                <?php echo $review['detail']; ?>
                            </p>

                        </div>
                    </li>

                <?php }
            }
            ?>
        </ul>
    </div>
<?php endif; ?>
